.limit {
    width: 100%;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;
}

.main-wrapper {
    width: 75%;
    background: #006DFB;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}

.heading {
    border-radius: 50px;
    height: 100px;
    width: 100%;
}

.h-title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Poppins-Bold;
    font-size: 28px;
    color: #FD1A4A;
    line-height: 1.2;
    text-align: center;
    background: #FDAF00;
    border-radius: 50px;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.main-form {
    width: 100%;
    background: #9F006F;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}


.form-input {
    position: relative;
    width: auto;
    z-index: 1;
    display: block;
    margin-bottom: 10px;
}

.text-3 {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.form-button {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #FD001B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}

.form-button:hover {
    background: #FDCC00;
}