    /* ------------------------------------ */
    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-middle {
        vertical-align: middle;
    }

    /* ------------------------------------ */
    .lh-1-0 {
        line-height: 1.0;
    }

    .lh-1-1 {
        line-height: 1.1;
    }

    .lh-1-2 {
        line-height: 1.2;
    }

    .lh-1-3 {
        line-height: 1.3;
    }

    .lh-1-4 {
        line-height: 1.4;
    }

    .lh-1-5 {
        line-height: 1.5;
    }

    .lh-1-6 {
        line-height: 1.6;
    }

    .lh-1-7 {
        line-height: 1.7;
    }

    .lh-1-8 {
        line-height: 1.8;
    }

    .lh-1-9 {
        line-height: 1.9;
    }

    .lh-2-0 {
        line-height: 2.0;
    }

    .lh-2-1 {
        line-height: 2.1;
    }

    .lh-2-2 {
        line-height: 2.2;
    }

    .lh-2-3 {
        line-height: 2.3;
    }

    .lh-2-4 {
        line-height: 2.4;
    }

    .lh-2-5 {
        line-height: 2.5;
    }

    .lh-2-6 {
        line-height: 2.6;
    }

    .lh-2-7 {
        line-height: 2.7;
    }

    .lh-2-8 {
        line-height: 2.8;
    }

    .lh-2-9 {
        line-height: 2.9;
    }.lh-3-0 {
        line-height: 3.0;
    }


    /* ------------------------------------ */

    .dis-none {
        display: none;
    }

    .dis-block {
        display: block;
    }

    .dis-inline {
        display: inline;
    }

    .dis-inline-block {
        display: inline-block;
    }

    .dis-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* ------------------------------------ */

    .pos-relative {
        position: relative;
    }

    .pos-absolute {
        position: absolute;
    }

    .pos-fixed {
        position: fixed;
    }

    /* ------------------------------------ */

    .float-l {
        float: left;
    }

    .float-r {
        float: right;
    }

    /* ------------------------------------ */

    .sizefull {
        width: 100%;
        height: 100%;
    }

    .w-full {
        width: 100%;
    }

    .h-full {
        height: 100%;
    }

    .max-w-full {
        max-width: 100%;
    }

    .max-h-full {
        max-height: 100%;
    }

    .min-w-full {
        min-width: 100%;
    }

    .min-h-full {
        min-height: 100%;
    }

    /* ------------------------------------ */

    .top-0 {
        top: 0;
    }

    .bottom-0 {
        bottom: 0;
    }

    .left-0 {
        left: 0;
    }

    .right-0 {
        right: 0;
    }

    .top-auto {
        top: auto;
    }

    .bottom-auto {
        bottom: auto;
    }

    .left-auto {
        left: auto;
    }

    .right-auto {
        right: auto;
    }

    /* ------------------------------------ */

    .op-0-0 {
        opacity: 0;
    }

    .op-0-1 {
        opacity: 0.1;
    }

    .op-0-2 {
        opacity: 0.2;
    }

    .op-0-3 {
        opacity: 0.3;
    }

    .op-0-4 {
        opacity: 0.4;
    }

    .op-0-5 {
        opacity: 0.5;
    }

    .op-0-6 {
        opacity: 0.6;
    }

    .op-0-7 {
        opacity: 0.7;
    }

    .op-0-8 {
        opacity: 0.8;
    }

    .op-0-9 {
        opacity: 0.9;
    }

    .op-1-0 {
        opacity: 1;
    }
