/*---------------------------------------------
Last Modified: Sahaj Dave
Description: CSS solely intented for login and register page.

sorting order of class definitations in this file is based on the
class tags appearance in login.htm and register.htm file.
---------------------------------------------*/

.limit {
    width: 100%;
    margin: 0 auto;
}
/* For mobile phones: */
.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    background: linear-gradient(45deg, rgb(240, 47, 208), #28b8f1, MediumSeaGreen);
    background-size: 250% 250%;
    animation: loginBG 8s ease infinite;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .main-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2vmin;
        background: linear-gradient(45deg, rgb(240, 47, 208), #28b8f1, MediumSeaGreen);
        background-size: 250% 250%;
        animation: loginBG 8s ease infinite;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2vw;
        background: linear-gradient(45deg, rgb(240, 47, 208), #28b8f1, MediumSeaGreen);
        background-size: 250% 250%;
        animation: loginBG 8s ease infinite;
    }
}




.main-wrapper {
    width: 75%;
    background: #fff;
    border-radius: 6vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6vh 6vmin 6vh 6vmin;
}

.recovery-wrapper {
    justify-content: center;
}

.logo-pic-container {
    position: relative;
    margin-left: 15vmin;
    animation: loginLogo ease 10s infinite;
}

.logo-pic {
    width: 25vw;
    height: 26vw;
}

.logo-pic img {
    max-width: 100%;
}

.main-form {
    margin-left: 5vmin;
    margin-right: 5vmin;
    width: 60vmin;
}

.recovery-form {
    width: 400px;
}

.main-form-title {
    font-family: Poppins-Bold;
    font-size: 4vmin;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 5vmin;
}

.form-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 1vmin;
}

.input-text {
    font-family: Poppins-Medium;
    font-size: 2vmin;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 3vmin;
    padding: 0 1.2vmin 0 2vmin;
}

.focus-input-text {
    display: block;
    position: absolute;
    border-radius: 1vmin;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: mediumseagreen;
}

.input-text:focus+.focus-input-text {
    color: MediumSeaGreen;
    animation: anim-shadow 0.5s ease-out forwards;
}

.form-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vmin;
}

.form-button {
    font-family: Poppins-Regular;
    font-size: 2vmin;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 6vmin;
    border-radius: 3vmin;
    background: MediumSeaGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vmin;
    transition: all 0.4s;
}

.form-button:hover {
    background: #333333;
}

.text-1 {
    font-family: Poppins-Regular;
    font-size: 2vmin;
    line-height: 1.5;
    color: #888;
    text-decoration: none;
}

.text-2 {
    font-family: Poppins-Regular;
    font-size: 2vmin;
    line-height: 1.5;
    color: #666666;
    text-decoration: none;
}

.text-2:hover {
    font-size: 2vmin;
}

.text-3 {
    font-family: Poppins-Regular;
    font-size: 2vmin;
    line-height: 1.5;
    color: #666666;
    text-decoration: none;
}