/*---------------------------------------------
Last Modified: Sahaj Dave
Description: CSS solely intented for login and register page.

sorting order of class definitations in this file is based on the
class tags appearance in login.htm and register.htm file.
---------------------------------------------*/

.limit {
    width: 100%;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(45deg, rgb(240, 47, 208), #28b8f1, MediumSeaGreen);
    background-size: 250% 250%;
    animation: loginBG 8s ease infinite;
}

.main-wrapper {
    width: 75%;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}

.login-pic-container {
    position: relative;
    top: 0px;
    animation: loginLogo ease 10s infinite;
}

.login-pic {
    width: 337px;
    height: 345px;
}

.register-pic-container {
    position: relative;
    top: 0px;
    animation: registerLogo ease 10s infinite;
}

.register-pic {
    width: 337px;
    height: 345px;
}

.login-pic img {
    max-width: 100%;
}

.main-form {
    width: 290px;
}

.main-form-title {
    font-family: Poppins-Bold;
    font-size: 28px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 50px;
}

.form-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input-text {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 20px;
}

.focus-input-text {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: mediumseagreen;
}

.input-text:focus+.focus-input-text {
    color: MediumSeaGreen;
    animation: anim-shadow 0.5s ease-out forwards;
}

.form-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px
}

.form-button {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: MediumSeaGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}

.form-button:hover {
    background: #333333;
}

.text-1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #888;
    text-decoration: none;
}

.text-2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    text-decoration: none;
}

.text-2:hover {
    font-size: 15px;
}